*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle,#f2d40e,#e23333);
}
.logo{
    /* border-radius: 70px; */
    border: solid black;
/* background-color: #e23333; */
}
.logogen{
    /* background-color: red; */
margin-right: auto;
}
nav ul {
    /* background-color: #69c; */
    height: 120px;
    width: 100%;
    align-items: center;
    padding: 25px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border: dashed #332 2px;
    /* background: radial-gradient(circle,#fff,#333); */
}
.search{
    font-size: 20px;
    border-radius: 50px;
}
nav ul li{
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}
nav a:hover{
    color: #fff;
}
nav a{
    color: #332;
    text-decoration: none;
    padding: 20px;
    text-transform: capitalize;
}
.h1-main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-decoration: underline;
    display: contents;
}
.div-h1{
    text-align: center;
    text-decoration: underline;
    color: #332;
}
.div-whatssapp{
float: right;
padding-right: 70px;
}
.logo-whatssapp{
    font-size: 50px;
    color: #25D366;
    opacity: 0.5;
    position: fixed;
}
.main-product{
    /* margin: 20px; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden; */
    padding: 20px;
}
p{
    
}
.caja{
    height: 250px;
    width: 48%;
    margin: 20px;
    border: dashed #332 2px;
    border-radius: 50px;
    display: flex
}
.caja:hover{
    color: white;
    font-size: 20px;
}
.caja2{
    display: flex;
    flex-direction: row-reverse;
    float: right;
}
.caja4{
display: flex;
flex-direction: row-reverse;
float: right;
}
.caja6{
    display: flex;
    flex-direction: row-reverse;
    float: right;
}
.caja8{
    display: flex;
flex-direction: row-reverse;
float: right;
}
.div-input-caja{
    /* padding-left: 10px;
    padding-bottom: 10px; */
    padding: 10px;
    display: flex;
    align-items: end;
}
.input-caja{
width: 70px;
height: 30px;
margin: 5px;
border-radius: 50px;
}
.input-number-caja{
    width: 40px;
    height: 30px;
    margin: 5px;
    border-radius: 50px;
}
.imgcont{
    height: 246px;
    width: 246px;
    border-radius: 50px;
}
p{
text-align: center;
}
footer{
    border: dashed #332 2px;
    padding: 10px;
    float: left;
}
@media only screen and (max-width: 500px){
    .nav__ul{
        display: none;
    }
}