*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle,#f2d40e,#e23333);
}
.logo{
    /* border-radius: 70px; */
    border: solid black;
/* background-color: #e23333; */
}
.fa-utensils{
    
}
.logogen{
    /* background-color: red; */
margin-right: auto;
}
nav{
}
nav ul {
    /* background-color: #69c; */
    height: 120px;
    width: 100%;
    align-items: center;
    padding: 25px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border: dashed #332 2px;
    /* background: radial-gradient(circle,#fff,#333); */
}
.search{
    font-size: 20px;
}
nav ul li{
    display: inline-block;
}
nav a:hover{
    color: #fff;
    background-color: #016;    
}
nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
main{
    /* margin: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    background: radial-gradient(circle,#f2d40e,#e23333);
}
p{
    
}
.caja{
    height: 250px;
    width: 80%;
    margin: 20px;
    border: red solid;
    display: flex;
}
.caja2{
    flex-direction: row-reverse;
}
.imgcont{
    height: 246px;
    width: 246px;
    
}
p{
text-align: center;
}
footer{
    background-color: #333;
    border: #016 solid 5px;
    padding: 10px;
}
@media only screen and (max-width: 500px){
    .nav__ul{
        display: none;
    }
}